
<table mat-table [dataSource]="clientesActivos">
  
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Inquilino </th>
    <td mat-cell *matCellDef="let element"><a mat-button routerLink="/detalle-cliente/{{element.id}}">{{element.nombre}}</a></td>
  </ng-container>
  <ng-container matColumnDef="apartamento">
    <th mat-header-cell *matHeaderCellDef> Apartamento </th>
    <td mat-cell *matCellDef="let element"><a mat-icon-button routerLink="/detalle-apartamento/{{element.contratos[0].apartamento}}"> {{element.contratos[0].apartamento}} </a></td>
  </ng-container>
  <ng-container matColumnDef="saldo">
    <th mat-header-cell *matHeaderCellDef> Saldo </th>
    <td mat-cell *matCellDef="let element"> {{element.contratos[0].monto}} </td>
  </ng-container>
  <ng-container matColumnDef="factura">
      <th mat-header-cell *matHeaderCellDef> Facturas </th>
      <td mat-cell *matCellDef="let element"> <a mat-icon-button routerLink="/pagos/{{element.contratos[0].id}}"><mat-icon>attach_money</mat-icon></a> </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>

